@font-face {
  font-family: 'Jungle Clean';
  src: local('Jungle Clean'), url('/fonts/JungleClean.ttf') format('truetype')
}
@font-face {
  font-family: 'Jungle Ruff';
  src: local('Jungle Ruff'), url('/fonts/JungleRuff.ttf') format('truetype')
}
@font-face {
  font-family: 'Jungle Bold';
  src: local('Jungle Bold'), url('/fonts/JungleBold.ttf') format('truetype')
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F2E8D5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.answer-button {
  background-color: #F2921D;
  border: 1px solid #260F11;
  width: 100px;
  height: 50px;
  font-size: 23px;
  color: #260F11;
  text-transform: capitalize;
  margin: 5px;
}

.game-container {
  margin: auto;
  width: 944px;
  min-height: 1100px;
}

.score-text {
  text-align: left;
}

.answer-buttons {
  text-align: center;
}

.pass-button {
  margin-top: 20px;
  text-align: center;
}

.pass-button > .answer-button {
  background-color: #D65518;
}

.instruction-text {
  width: 944px;
  margin: auto;
  color: #260F11;
}

.linguist-lizzy-wrap {
  background-image: url(/images/IMG-0006.PNG);
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: 500px;
}